<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
welcome to home page
<br>
<br>
<br>
<form action="add">
    {% csrf_token %}
    keyword : <input type="text" name="num1">
    link    : <input type="text" name="num2">
    <br>
    <br>
    start_date     : <input type="text" name="date1">
    finish_date    : <input type="text" name="date2">
    <br>
    <br>
    csv file name: <input type="text" name="fname">
    <button type ="submit"> search on Google </button>
</form>

<br>
<br>
<br>


<form action="tadd">
    {% csrf_token %}
    keyword : <input type="text" name="tnum1">
    topic    : <input type="text" name="tnum2">
    <br>
    <br>
    start_date     : <input type="text" name="tdate1">
    finish_date    : <input type="text" name="tdate2">
    <br>
    <br>
    csv file name: <input type="text" name="tfname">
    <button type ="submit"> search topic on Google </button>
</form>
<br>
<br>
<br>



<form action="btadd" method="get">
    {% csrf_token %}
    keyword : <input type="text" name="btnum1">
    site/topic    : <input type="text" name="btnum2">
    <br>
    <br>

    start_date     : <input type="text" name="btdate1">
    finish_date    : <input type="text" name="btdate2">
    <br>
    <br>

    txt file name: <input type="text" name="btfname">
    <button type ="submit"> search on news.google </button>
</form>
<br>

<!--<form method = "GET">-->
<!--    {% csrf_token %}-->
<!--    {{form}}-->
<!--     <input type = "submit" value = "Submit">-->

<!--</form>-->
<br>
<br>

<form action="bingadd">
    {% csrf_token %}

    bing keyword : <input type="text" name="bnum1">
    link    : <input type="text" name="bnum2">
    <br>
    <br>

    csv file name: <input type="text" name="bfname">
    <button type ="submit"> search on Bing </button>
</form>
<br>
<br>




<form action="getcontent">
    {% csrf_token %}
    file path : <input type="text" name="fp1">
    <button type ="submit"> Get Content </button>
</form>
</body>
</html>